.header {
  width: fit-content;
  margin: 20px auto;
}

h1 {
  font-size: 36px;
  color: #4a5568;
  font-weight: 700;
  margin-bottom: 0px;
}

h3 {
  font-size: 20px;
  color: #4a5568;
  text-align: center;
  font-weight: 500;
}
